@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
html, body {
  background: #141414 !important;
  margin: 0;
  padding: 0;
  font-family: "Lora", serif !important;
}
#root{
  height: 100vh;
  width: 100%;
}

.BottomNavigation{
  display: none !important;
}
.BottomNavigationMap{
  display: none;
}
@media screen and (max-width: 715px) {
  .BottomNavigation{
    display: flex !important;
  }
}
.parent{
  padding-top: 65px;
  height: calc(100% - 65px) !important;
}
@media screen and (max-width: 600px) {
  .parent{
      padding-top: 57px;
      height: calc(100% - 57px) !important;
  }
}
.clear{
  color: #fff !important;
}
.clear:hover{
  color: #000 !important;
}
.filter:hover{
  color: #000 !important;
}
.carousel .thumbs-wrapper{
  margin-bottom: 0px;
}